.cv-document {
  margin: 0;
  padding: 40px;
  font-family: sans-serif;
  width: 900px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.cv-page {
  margin-left: 40px;
  margin-right: 40px;
}
.footer {
  margin-left: 40px;
  margin-right: 40px;
}
.name {
  margin-bottom: 0;
  text-transform: uppercase;
  color: #0e2452;
}
.title {
  text-transform: uppercase;
  border-bottom: solid 2px black;
}
.cv-info {
  position: relative;
}
.info-basic {
  display: inline-block;
  margin-top: 0px;
  font-weight: bold;
}
.info-detail {
  display: inline-block;
  margin-left: 30px;
  margin-top: 0px;
}

.avatar {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

.avatar {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}
img {
  width: 113px;
  height: 113px;
}
.edus {
  margin-bottom: 50px;
  position: relative;
  /* background-color: cadetblue; */
}
.edu {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  margin-to: 0px;
  position: relative;
  margin-left: 15px;
  /* background-color: blueviolet; */
}
.skill {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.edu-time {
  display: inline-block;
  margin-right: 50px;
  margin-left: 20px;
  width: 200px;
  vertical-align: top;

  position: relative;
}
.skill-time {
  display: inline-block;
  margin-right: 50px;
  margin-left: 0px;
  width: 200px;
  vertical-align: top;

  position: relative;
}
.edu::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: goldenrod;
  left: -15px;
  top: 11px;
  position: absolute;
  border-radius: 50px;
  z-index: 1;
}
.edu::after {
  content: "";
  width: 1.5px;
  height: 96.9px;
  background-color: rgba(0, 0, 0, 0.3);
  left: -8px;
  top: 0px;
  bottom: -1px;
  position: absolute;
  /* border-radius: 50px; */
  margin-top: 0;
}

.edu-detail {
  display: inline-block;
  margin-top: 0;
}
.skill-detail {
  display: inline-block;
  margin-top: 0;
  margin-left: 30px;
}
h3 {
  text-transform: uppercase;
  margin: 0;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  margin-top: 10px;
  margin-bottom: 10px;
}
h6 {
  margin-bottom: 20px;
  margin-top: 0;
}
li {
  margin-left: 13px;
}
ul,
ol {
  padding: 0;
  margin: 0;
}
.project1 {
  margin-bottom: 20px;
}
.project2 {
  margin-bottom: 20px;
}
.project3 {
  margin-bottom: 20px;
}
a {
  text-decoration: none;
}
